:root {
  --page-bg: #298cf0;
  --header-bg: #125eb6b1;
  --text-colour: #f4f4f4;
  --header-height: 140px;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--header-height);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--header-bg);

  transition: height 0.3s ease;

  z-index: 100;
}

.site-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.site-header h1,
.site-header h4 {
  margin: 0;
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--page-bg);
  color: var(--text-colour);
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: center;

  background:
    radial-gradient(circle at 20% 20%, #1a8fef90, transparent 30%),
    radial-gradient(circle at 80% 30%, #838deca1, transparent 30%),
    radial-gradient(circle at 50% 80%, #13dcc490, transparent 40%),
    #3174d2;
  background-size: 200% 200%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

main {
  padding-top: var(--header-height);
}

.signage-1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 4rem;
}

.signage-2 {
  margin-bottom: -0.4rem;
}

.youtube-demos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem auto;
}

.youtube-widget-large {
  display: block;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}

.whisper {
  font-size: 1rem;
  opacity: 0.8;
  margin-top: 0.5rem;
  margin-bottom: -0.8rem;
}

.mmm-widget {
  display: block;
  width: 100%;
  max-width: 646px;
  height: 190px;
  margin: 2rem auto;
  border: 0;
}

.pdt-widget {
  display: block;
  width: 100%;
  max-width: 646px;
  height: 190px;
  margin: 2rem auto;
  border: 0;
}